.container {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--section_padding);
}

.shift_preferences_tools {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.shift {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.shift h2 {
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  color: var(--global);
  background-color: var(--black);
}

.shift_switcher {
  position: relative;
  width: 8.25rem;
  height: 3.75rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: background-color 350ms;
}

.shift_switcher.day {
  background-color: #facc15;
}

.shift_switcher.night {
  background-color: #4f46e5;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  transition: opacity 350ms;
}

.label.night {
  left: 0.75rem;
}

.label.night.hide {
  opacity: 0;
}

.label.night.show {
  opacity: 1;
}

.label.day {
  right: 0.75rem;
}

.label.day.hide {
  opacity: 0;
}

.label.day.show {
  opacity: 1;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;
  background-color: var(--white);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 350ms;
}

.toggle.night {
  transform: translateX(4.5rem);
}

.toggle.day {
  transform: translateX(0);
}

.dietary_preferences {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dietary_preferences h2,
.dietary_preferences p {
  color: var(--teal);
}

.preference_icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.preference_icon {
  cursor: pointer;
}

.preference_icon.matched img {
  border-radius: 100%;
  background-color: #ffd19b;
}

.dietary_preferences p {
  max-width: 650px;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.change_password_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 100;
}

.update_email_preference_button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: var(--white);
  background-color: var(--global);
}

.email_subscriptions {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.email_subscriptions div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.email_subscriptions div label {
  font-weight: 500;
  text-transform: capitalize;
}

.change_password_link svg {
  border-radius: 100%;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(var(--almost_white), var(--almost_white)),
    linear-gradient(calc(2.25rad), #f6b046 20%, #893285 80%);
}

.slack_channel_link {
  width: 15rem;
  height: auto;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.slack_channel_link p:first-child {
  font-weight: 600;
  line-height: 1.25;
}

.slack_logo {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slack_channel_link p:last-child {
  font-size: 1.25rem;
  line-height: 1;
}

.food_stats {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.stat {
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #f2f0e9;
}

.stat h3 {
  font-weight: 100;
}

.stat p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.food_vibe {
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #f2f0e9;
}

.food_vibe h2 {
  font-weight: 100;
  font-size: 1.75rem;
}

.food_vibe p {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.25;
}

.most_liked {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.most_liked_restaurants,
.most_liked_items {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #f2f0e9;
}

.most_liked h3 {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.most_liked ol {
  padding: 0rem 2rem;
}

.most_liked ol li {
  list-style: decimal;
  margin: 0.25rem 0;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.25;
}

.recent_orders {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #f2f0e9;
}

.recent_orders h2 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.recent_orders table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.recent_orders table th,
.recent_orders table td {
  padding: 0.75rem 0.5rem;
}

.recent_orders table td {
  font-weight: 500;
}

.recent_orders table td:first-child,
.recent_orders table td:last-child {
  font-weight: 200;
}

.not_reviewed {
  color: var(--black);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .dietary_preferences h2,
  .food_stats h2 {
    font-size: 3.25rem;
  }

  .tools {
    flex-direction: row;
  }

  .stats {
    flex-direction: row;
  }

  .most_liked {
    flex-direction: row;
  }

  .recent_orders {
    padding: 1rem 2rem;
  }

  .recent_orders table th,
  .recent_orders table td {
    padding: 1rem;
  }
}
