.container {
  display: flex;
  gap: 3rem;

  align-items: center;
  justify-content: center;
  padding: var(--section_padding);
}

.shift_preferences_tools {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.shift {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.shift h2 {
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  color: var(--global);
  background-color: var(--black);
}

.shift_switcher {
  position: relative;
  width: 9rem;
  height: 4rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: background-color 350ms;
}

.shift_switcher.day {
  background-color: #facc15;
}

.shift_switcher.night {
  background-color: #4f46e5;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 18px;
  transition: opacity 350ms;
}

.label.night {
  left: 0.75rem;
  color: var(--white);
}

.label.night.hide {
  opacity: 0;
}

.label.night.show {
  opacity: 1;
}

.label.day {
  right: 0.75rem;
}

.label.day.hide {
  opacity: 0;
}

.label.day.show {
  opacity: 1;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background-color: var(--white);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 350ms;
}

.toggle.night {
  transform: translateX(5rem);
}

.toggle.day {
  transform: translateX(0);
}

.preferences h2 {
  color: var(--teal);
}
