.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 1rem;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th {
  text-align: left;
  padding: 1rem;
}

.container th:last-child {
  text-align: right;
}

.container thead tr {
  background-color: var(--almost_white);
}

.container tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.container td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
}

.container td:last-child {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.message {
  color: var(--gray);
}

/* Scheduled restaurants */
.scheduled_restaurants {
  margin-bottom: 2rem;
}

.week_navigator {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.week_navigator button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border_color);
}

.groups {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.group {
  border-radius: 0.5rem;
  border: 1px solid var(--border_color);
}

.date {
  font-weight: 600;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border_color);
}

.restaurants {
  padding: 0.5rem;
}

.range_selector {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.range_selector_item {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.range_selector_item input {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border_color);
}

/* Top rated restaurants */
.most_liked_restaurants {
  margin-bottom: 2rem;
}

.most_liked_restaurants h3 {
  margin-bottom: 1rem;
}

/* Top rated items */
.most_liked_items h3 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }

  .groups {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
