.container {
  padding: var(--section_padding);
}

.header,
.group {
  margin-bottom: 1rem;
}

.group_header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 8px;
}

.group_header h2 {
  font-size: 1rem;
}

.group_header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  padding: 4px 12px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--border_color);
}

.group table {
  width: 100%;
  border-collapse: collapse;
}

.group thead tr {
  background-color: var(--almost_white);
}

.group thead th {
  padding: 1rem;
  text-align: left;
}

.group thead th:last-child {
  text-align: right;
}

.group tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.group tbody td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
}

.group tbody td:nth-child(3),
.group tbody td:last-child {
  text-transform: capitalize;
}

.group tbody td:last-child {
  text-align: right;
}

.group tbody tr:last-child td {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
  }
}
