.container {
  text-align: center;
}

.container p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.container button {
  border: none;
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: var(--almost_white);
  background-color: var(--orange);
}

.buttons button:first-child {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  background: var(--black);
}

.disabled {
  pointer-events: none;
}

@media (min-width: 768px) {
  .container {
    width: 20rem;
  }
}
