.calendar_sort select {
  width: auto;
  cursor: pointer;
  text-align: center;
  margin-right: 1rem;
  padding: 6px 12px;
  color: var(--gray);
  border-radius: 2rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.calendar_sort select:focus {
  outline: none;
  border: 1px solid var(--orange);
}
