.cart {
  display: flex;
  flex-direction: column;
  padding: var(--section_padding);
}

.cart_title {
  margin-bottom: 1.5rem;
}

.items {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(1fr);
}

.item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid var(--border_color);
}

.cover_image {
  width: 30%;
  position: relative;
}

.cover_image img {
  border-radius: 0.25rem;
}

.remove {
  top: -8px;
  right: -8px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background: var(--orange);
  color: var(--almost_white);
}

.cover_image svg {
  font-size: 16px;
}

.item_details {
  width: 65%;
}

.name,
.price,
.date {
  margin-bottom: 12px;
}

.name {
  display: flex;
  font-weight: 600;
  color: var(--black);
  align-items: center;
}

.name span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: var(--border_color);
}

.price,
.date span {
  font-weight: 400;
  color: var(--gray);
}

.date {
  font-weight: 500;
  color: var(--black);
}

.budget_exceeded {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--orange);
}

.button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  background: var(--black);
  color: var(--almost_white);
  pointer-events: none; /* Remove this */
}

.disable {
  pointer-events: none;
  color: var(--disable_font);
  background: var(--border_color);
}

@media (min-width: 768px) {
  .cart {
    max-width: 85%;
    margin: 0 auto;
  }

  .items {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .button {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .cart {
    max-width: 80%;
    margin: 0 auto;
  }
}
