.dashboard {
  padding: var(--section_padding);
}

.dashboard h2 {
  margin-bottom: 1rem;
}

.active_orders {
  margin-bottom: 2rem;
}

.load_all {
  margin-top: 1.25rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .dashboard {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .dashboard {
    max-width: 80%;
    margin: 0 auto;
  }
}
