.dashboard {
  padding: var(--section_padding);
}

.dashboard h2 {
  margin-bottom: 1rem;
}

.details {
  margin-bottom: 1.5rem;
}

.details p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.details p span {
  font-weight: 400;
  color: var(--gray);
}

.active_orders {
  margin-bottom: 2rem;
}

.load_all {
  margin-top: 1.25rem;
  display: inline-block;
  pointer-events: none; /* remove this */
}

@media (min-width: 768px) {
  .dashboard {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .dashboard {
    max-width: 80%;
    margin: 0 auto;
  }
}
