.favorite {
  padding: var(--section_padding);
}

.favorite_title {
  margin-bottom: 1rem;
}

.items {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(1fr);
}

.item {
  display: flex;
  color: var(--black);
  justify-content: space-between;
}

.details {
  width: 70%;
  margin-right: 1.5rem;
}

.item_description {
  margin-bottom: 4px;
  font-weight: 500;
}

.available,
.not_available {
  color: var(--gray);
}

.available {
  margin-bottom: 10px;
}

.dates a {
  margin-right: 8px;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 2rem;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.dates a span:first-child {
  margin-right: 4px;
}

.cover_image {
  width: 30%;
  position: relative;
}

.cover_image img {
  border-radius: 0.25rem;
}

.remove {
  top: -8px;
  right: -8px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background: var(--orange);
  color: var(--almost_white);
}

.cover_image svg {
  font-size: 16px;
}

@media (min-width: 768px) {
  .favorite {
    max-width: 85%;
    margin: 0 auto;
  }

  .items {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .favorite {
    max-width: 80%;
    margin: 0 auto;
  }
}
