.details_controller_and_button {
  display: flex;
  flex-direction: column;
  padding: var(--section_padding);
}

.item_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item_description {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.controller {
  margin: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  pointer-events: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.15s ease;
  background: var(--almost_white);
}

.icon svg {
  font-size: 1.5rem;
  color: var(--disable_font);
}

.item_quantity {
  font-weight: 600;
  padding: 0rem 1rem;
}

.active {
  pointer-events: all;
  background: var(--border_color);
}

.active.minus svg {
  color: var(--black);
}

.plus {
  pointer-events: all;
  background: var(--border_color);
}

.plus svg {
  color: var(--black);
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background: var(--black);
  color: var(--almost_white);
}

@media (min-width: 768px) {
  .item {
    display: flex;
    padding: var(--section_padding);
  }

  .cover_image {
    width: 50%;
    margin-right: 2rem;
  }

  .cover_image img {
    border-radius: 0.25rem;
  }

  .details_controller_and_button {
    width: 50%;
    padding: 0rem;
    justify-content: space-between;
  }

  .controller {
    margin: 3rem 0rem;
  }
}

@media (min-width: 1024px) {
  .cover_image {
    width: 55%;
    margin-right: 4rem;
  }

  .details_controller_and_button {
    width: 45%;
  }
}
