.order {
  padding: var(--section_padding);
}

.order_top {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.not_favorite {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 0.9rem;
  padding: 1px 10px;
  border-radius: 2rem;
  border: 1px solid var(--gray);
  transition: all 100ms ease-in-out;
}

.not_favorite svg {
  margin-left: 4px;
}

.favorite {
  color: var(--orange);
  border: 1px solid var(--orange);
}

.cover_image,
.details p,
.details h2,
.details form textarea {
  margin-bottom: 1rem;
}

.cover_image img {
  border-radius: 0.25rem;
}

.details p span {
  font-weight: 600;
}

.review_title {
  font-size: 16px;
  font-weight: 700;
}

.ratings {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.star {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--disabled_font);
}

.star:last-child {
  margin-right: 0rem;
}

.filled {
  color: var(--orange);
}

.details form {
  display: flex;
  flex-direction: column;
}

.details form textarea {
  padding: 12px;
  resize: none;
  height: 10rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.details form textarea:focus {
  outline: none;
  border: 1px solid var(--teal);
}

@media (min-width: 768px) {
  .order {
    max-width: 85%;
    margin: 0 auto;
  }

  .order_top {
    justify-content: flex-start;
  }

  .order_top h2 {
    margin-right: 1.5rem;
  }

  .details form textarea {
    height: 12rem;
  }
}

@media (min-width: 1024px) {
  .order {
    max-width: 80%;
  }

  .cover_image_and_details {
    display: flex;
  }

  .cover_image {
    width: 55%;
    margin-bottom: 0rem;
    margin-right: 4rem;
  }

  .details {
    width: 45%;
  }

  .details form textarea {
    height: 10rem;
  }
}
