.profile {
  padding: var(--section_padding);
}

.profile h2 {
  margin-bottom: 1rem;
}

.details p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.details p span {
  font-weight: 400;
  color: var(--gray);
}

.details button {
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 2.75rem;
  margin-top: 1rem;
  min-width: 10rem;
  align-items: center;
  padding: 0rem 1.15rem;
  border-radius: 0.25rem;
  justify-content: center;
  background: var(--orange);
  color: var(--almost_white);
}
