.registration_form {
  padding: var(--section_padding);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.registration_form form {
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  box-shadow: var(--shadow_medium);
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.item label {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.item input {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus {
  outline: none;
  border: 1px solid var(--teal);
}

.action {
  text-align: center;
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.action a {
  color: var(--orange);
}

@media (min-width: 768px) {
  .registration_form {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .registration_form form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .registration_form {
    max-width: 42rem;
    margin: 0 auto;
  }
}
