.action_button {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  width: 11rem;
  height: 2.75rem;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: center;
  background: var(--orange);
  color: var(--almost_white);
}
