.alerts {
  position: fixed;
  right: 50%;
  top: 4.5rem;
  transform: translateX(50%);
  transition: ease-in-out 400ms;
}

.alert {
  border-radius: 2rem;
  padding: 8px 14px;
  margin-bottom: 0.5rem;
}

.alert p {
  display: flex;
  font-weight: 500;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--almost_white);
}

.icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.failed {
  background: var(--orange);
}

.success {
  background: var(--teal);
}

@media (min-width: 768px) {
  .alert {
    padding: 6px 14px;
  }
}
