.desktop_nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 4rem;
  }

  .logo a {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .hide {
    display: none;
  }

  .navigation li a {
    opacity: 0.8;
    color: var(--grey);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: 250ms ease-in-out;
  }

  .navigation li a:hover,
  .active {
    font-weight: 500;
    color: var(--black);
  }

  .ctas {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sing_in,
  .sign_out {
    padding: 6px 16px;
    font-size: 0.9rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--black);
    border: 1px solid var(--gray);
  }

  .sing_in {
    padding: 3px 16px;
  }
}
