.desktop_nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 2.25rem;
  }

  .logo a {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation li a {
    opacity: 0.8;
    color: var(--grey);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .register a {
    padding: 6px 16px;
    font-size: 0.9rem;
    border-radius: 2rem;
    background: var(--teal);
    color: var(--almost_white);
  }
}
