.mobile_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2.25rem;
}

.logo a {
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.line {
  width: 1.25rem;
  height: 2px;
  background: var(--black);
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 2px;
  background: var(--black);
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.line::before {
  transform: translateY(-6px);
}

.line::after {
  transform: translateY(6px);
}

.hamburger.open .line {
  background: transparent;
}

.hamburger.open .line::before {
  transform: rotate(-45deg);
}

.hamburger.open .line::after {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .mobile_nav {
    display: none;
  }
}
