.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 1rem;
}

.container form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow_medium);
}

@media (min-width: 768px) {
  .container {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .container form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 42rem;
    margin: 0 auto;
  }
}
