.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 1rem;
}

.container table {
  margin-bottom: 0rem;
}

.details {
  margin-bottom: 1.5rem;
}

.company_name {
  margin-bottom: 1rem;
}

.details p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.details p span {
  font-weight: 500;
  color: var(--black);
}

.buttons {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.schedule_restaurants_button,
.customer_info_download_button,
.order_reminder_button,
.add_guest_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
}

.schedule_restaurants_button {
  width: 12rem;
  background: var(--teal);
  color: var(--almost_white);
}

.order_reminder_button {
  width: 12rem;
  background: var(--brown);
  color: var(--almost_white);
}

.customer_info_download_button {
  width: 10rem;
  background: var(--global);
  color: var(--almost_white);
}

.add_guest_button {
  width: 10rem;
  background: var(--green);
  color: var(--almost_white);
}

.customer_info_download_button svg {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
