.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 1rem;
}

.container form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow_medium);
}

.form_title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.city_state_zip {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city_state_zip .item {
  width: 48%;
}

.item label {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.item input {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus {
  outline: none;
  border: 1px solid var(--teal);
}

@media (min-width: 768px) {
  .container {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .container form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 42rem;
    margin: 0 auto;
  }
}
