.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 1rem;
}

.container table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

.container th {
  text-align: left;
  padding: 1rem;
}

.container th:last-child {
  text-align: right;
}

.container thead tr {
  background-color: var(--almost_white);
}

.container td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
  border-bottom: 1px solid var(--border_color);
}

.shift {
  text-transform: capitalize;
}

.ingredients {
  text-transform: capitalize;
}

.total td {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.container td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.send_email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.75rem;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.hide_on_mobile {
  display: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
