.buttons {
  display: flex;
  align-items: center;
}

.link_button,
.action_button {
  border: none;
  display: flex;
  cursor: pointer;
  height: 2.75rem;
  font-size: 1rem;
  font-weight: 500;
  min-width: 10rem;
  align-items: center;
  padding: 0rem 1.15rem;
  border-radius: 0.25rem;
  justify-content: center;
  color: var(--almost_white);
}

.link_button {
  margin-right: 2rem;
  background: var(--black);
}

.action_button {
  background: var(--orange);
}
