.container {
  cursor: pointer;
  position: relative;
  display: flex;
  color: var(--black);
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.container svg {
  font-size: 1.25rem;
}

.quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.75rem;
  right: -0.75rem;
  width: 18px;
  height: 18px;
  font-size: 14px;
  border-radius: 100%;
  background: var(--black);
  color: var(--almost_white);
}

@media (min-width: 768px) {
  .container svg {
    font-size: 1.5rem;
  }

  .quantity {
    top: -9px;
    right: -9px;
  }
}
