.footer {
  background: var(--almost_white);
  padding: var(--section_padding);
  border-top: 1px solid var(--border_color);
}

.logo {
  width: 4rem;
}

.section {
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.items {
  display: flex;
  flex-direction: column;
}

.social {
  margin-top: 0.75rem;
}

.social a svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.about,
.items a,
.items p {
  font-size: 14px;
  color: var(--gray);
}

.items a {
  margin-bottom: 0.25rem;
  font-style: normal;
}

.copyright {
  font-size: 14px;
  color: var(--gray);
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 1.5rem;
  }

  .sections {
    display: flex;
    justify-content: space-between;
  }

  .section {
    width: auto;
    margin-bottom: 0rem;
  }

  .section:nth-child(1) {
    width: 35%;
  }
  .section:nth-child(2) {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  .section:nth-child(1) {
    width: 30%;
  }
  .section:nth-child(2) {
    width: 20%;
  }
}
