.container h2 {
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.filter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.container form button {
  border: none;
  width: 10rem;
  cursor: pointer;
  height: 2.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background: var(--orange);
  color: var(--almost_white);
  transition: all 150ms ease-in-out;
}
