.container select {
  width: auto;
  cursor: pointer;
  text-align: center;
  padding: 6px 12px;
  color: var(--gray);
  border-radius: 2rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.container select:focus {
  outline: none;
  border: 1px solid var(--orange);
}
