.form_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.items {
  display: grid;
  gap: 1.5rem 1rem;
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
}

.item label {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.item input {
  width: 100%;
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus {
  outline: none;
  border: 1px solid var(--teal);
}

.is_featured {
  display: flex;
  align-items: center;
}

.is_featured label {
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 0rem;
}

.logo_upload {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.logo_upload input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 8rem;
  width: 100%;
  cursor: pointer;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-weight: 600;
  height: 8rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.upload_icon_and_text {
  display: flex;
  align-items: center;
}

.upload_icon_and_text svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.remove_logo {
  z-index: 1;
  display: flex;
  cursor: pointer;
  font-weight: 400;
  color: var(--gray);
  padding: 4px 12px;
  border-radius: 2rem;
  margin-top: 1.25rem;
  align-items: center;
  border: 1px solid var(--gray);
}

.remove_logo svg {
  margin-left: 0.5rem;
}

.image {
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.image img {
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo_upload {
    flex-direction: row;
    align-items: center;
  }

  .logo_upload input {
    width: 50%;
    height: var(--logo_height);
  }

  .upload {
    width: 50%;
    margin-bottom: 0rem;
    height: var(--logo_height);
  }

  .image {
    width: 45%;
    margin-top: 0rem;
  }
}
