.all_restaurants {
  padding: var(--section_padding);
}

.all_restaurants h2 {
  margin-bottom: 1rem;
}

.all_restaurants table {
  width: 100%;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
}

.all_restaurants table th,
.all_restaurants table td {
  text-align: left;
  padding: 1rem;
}

.all_restaurants table th:last-child,
.all_restaurants table td:last-child {
  text-align: right;
}

.all_restaurants table thead tr {
  background-color: var(--almost_white);
}

.all_restaurants table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.all_restaurants table td {
  font-weight: 500;
  color: var(--gray);
}

.all_restaurants table td:last-child {
  text-transform: capitalize;
}

.important a {
  color: var(--black);
}

.hide_on_mobile {
  display: none;
}

.buttons {
  display: flex;
}

.buttons a {
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .all_restaurants {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .all_restaurants {
    max-width: 80%;
    margin: 0 auto;
  }
}
