.cart {
  display: flex;
  flex-direction: column;
  padding: var(--section_padding);
}

.cart_title {
  margin-bottom: 1.5rem;
}

.items {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(1fr);
}

.item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid var(--border_color);
}

.cover_image {
  width: 30%;
  position: relative;
}

.cover_image img {
  border-radius: 0.25rem;
}

.remove {
  top: -8px;
  right: -8px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background: var(--orange);
  color: var(--almost_white);
}

.item_details {
  width: 65%;
}

.name,
.price,
.date {
  margin-bottom: 12px;
}

.name {
  display: flex;
  font-weight: 600;
  color: var(--black);
  align-items: center;
}

.name span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: var(--border_color);
}

.price,
.date span {
  font-weight: 400;
  color: var(--gray);
}

.date {
  font-weight: 500;
  color: var(--black);
}

.apply_discount_form {
  width: 15.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
}

.apply_discount_form label {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.apply_discount_form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apply_discount_form input {
  width: 55%;
  padding: 10px;
  color: var(--gray);
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: 1px solid var(--border_color);
}

.apply_discount_form input[type='submit'] {
  width: 40%;
  border: none;
  cursor: pointer;
  padding: 12px;
  text-transform: none;
  color: var(--almost_white);
  background-color: var(--teal);
}

.applied_discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.5rem;
  border-radius: 0.25rem;
  padding: 10px 12px;
  margin: 0.5rem 0rem;
  border: 1px solid var(--border_color);
  background-color: var(--almost_white);
}

.applied_discount p:first-child {
  color: var(--gray);
}

.applied_discount p:first-child span {
  font-weight: 600;
  color: var(--black);
  margin-right: 0.25rem;
  text-transform: uppercase;
}

.applied_discount p:last-child {
  cursor: pointer;
  font-weight: 500;
  color: var(--orange);
}

.button {
  border: none;
  height: 48px;
  min-width: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0rem 1.15rem;
  border-radius: 0.25rem;
  background: var(--black);
  color: var(--almost_white);
}

@media (min-width: 768px) {
  .cart {
    max-width: 85%;
    margin: 0 auto;
  }

  .items {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .button {
    min-width: 220px;
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .cart {
    max-width: 80%;
    margin: 0 auto;
  }
}
