.container {
  padding: var(--section_padding);
}

.header_and_controller {
  margin-bottom: 2.5rem;
}

.notice {
  font-weight: 500;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.title_and_sort {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.controller {
  display: flex;
  align-items: center;
}

.controller a {
  width: 36px;
  height: 52px;
  border-radius: 2rem;
  margin-right: 1rem;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--orange);
  transition: all 100ms ease-in-out;
  border: 1px solid var(--orange);
}

.controller a.active {
  font-weight: 700;
  background: var(--orange);
  color: var(--almost_white);
}

.restaurant {
  margin-bottom: 2rem;
}

.restaurant_name {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 8px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background: var(--orange);
  color: var(--almost_white);
}

.restaurant_name svg {
  margin: 0rem 0.25rem;
}

.restaurant.sold_out .restaurant_name,
.restaurant.sold_out .item_name span,
.item.sold_out .item_name span {
  background: var(--disabled);
}

.restaurant.sold_out .item_name,
.restaurant.sold_out .item_price,
.restaurant.sold_out .item_description,
.item.sold_out .item_name,
.item.sold_out .item_price,
.item.sold_out .item_description {
  color: var(--disabled);
}

.item_image_overlay {
  display: none;
}

.restaurant.sold_out .item_image_overlay,
.item.sold_out .item_image_overlay {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.75;
  background: var(--disabled);
}

.sold_out_text {
  display: none;
}

.restaurant.sold_out .sold_out_text,
.item.sold_out .sold_out_text {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2px 12px;
  font-weight: 500;
  color: var(--white);
  border-radius: 2rem;
  background-color: var(--black);
}

.restaurant_name_arrow {
  margin-left: 0.5rem;
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

.rotate_arrow {
  rotate: 180deg;
}

.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.item {
  display: flex;
  gap: 1rem;
  color: var(--black);
  align-items: center;
  justify-content: space-between;
}

.restaurant.sold_out .item,
.item.sold_out .item {
  cursor: not-allowed;
}

.item_details {
  width: 60%;
}

.item_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item_name span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  color: var(--white);
  border-radius: 2rem;
  padding: 02px 10px;
  background-color: var(--orange);
}

.item_name span svg {
  margin-right: 0.25rem;
}

.item_price {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.item_description {
  color: var(--gray);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item_image {
  width: 40%;
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item_image img {
  border-radius: 0.25rem;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: var(--white);
  background: var(--black);
}

.popularity_index {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  color: var(--teal);
  font-weight: 600;
  padding: 0px 4px;
  border-radius: 2px;
  background-color: #eef7f5;
}

.restaurant.sold_out .quantity,
.item.sold_out .quantity {
  background: var(--disabled);
}

.message {
  font-weight: 500;
  color: var(--gray);
}

@media (min-width: 768px) {
  /* .header {
    align-items: center;
    flex-direction: row;
  } */

  .restaurant_name {
    margin-bottom: 1.5rem;
  }

  .items {
    gap: 2.5rem;
  }

  .item {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .item_image {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .item_details {
    width: 100%;
  }

  .quantity {
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
  }

  .popularity_index {
    top: 0.5rem;
    left: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
