.container {
  padding: var(--section_padding);
}

.image_and_details,
.cover_image {
  margin-bottom: 1rem;
}

.details_controller_and_button {
  display: flex;
  flex-direction: column;
}

.item_name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item_name span {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 0.5rem;
  color: var(--white);
  border-radius: 2rem;
  padding: 02px 10px;
  background-color: var(--orange);
}

.item_name span svg {
  margin-right: 0.25rem;
}

.item_description {
  color: var(--gray);
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.25rem;
}

.tags span {
  margin-right: 0.75rem;
  padding: 2px 10px;
  border-radius: 2rem;
  color: var(--gray);
  margin-bottom: 1rem;
  background: var(--border_color);
}

.delivery_date {
  font-weight: 600;
}

.optional_addons,
.required_addons,
.delivery_date {
  margin-bottom: 1rem;
}

.optional_addons p,
.required_addons p,
.removable p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.addons_or_removable_items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.addons_or_removable_item {
  display: flex;
  align-items: center;
}

.addons_or_removable_item label {
  cursor: pointer;
  color: var(--gray);
  margin-left: 0.5rem;
  text-transform: capitalize;
}

.controller {
  margin: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  cursor: pointer;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  background: var(--border_color);
}

.icon svg {
  font-size: 1.5rem;
  color: var(--black);
}

.item_quantity {
  font-weight: 600;
  padding: 0rem 1rem;
}

.icon.disabled {
  pointer-events: none;
  background: var(--almost_white);
}

.icon.disabled svg {
  color: var(--disabled);
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background: var(--black);
  color: var(--almost_white);
  transition: all 0.25s ease;
}

.button.disabled {
  pointer-events: none;
  color: var(--disabled);
  background: var(--border_color);
}

.reviews {
  display: grid;
  gap: 1rem;
}

.review p {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .image_and_details {
    display: flex;
    margin-bottom: 2rem;
  }

  .cover_image {
    width: 50%;
    margin-right: 2rem;
  }

  .cover_image img {
    border-radius: 0.25rem;
  }

  .details_controller_and_button {
    width: 50%;
    padding: 0rem;
    justify-content: space-between;
  }

  .controller {
    margin: 3rem 0rem;
  }

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) {
  .cover_image {
    width: 55%;
    margin-right: 4rem;
  }

  .details_controller_and_button {
    width: 45%;
  }
}
