.container {
  padding: var(--section_padding);
}

.orders_top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th {
  text-align: left;
  padding: 1rem;
}

.container th:last-child {
  text-align: right;
}

.container thead tr {
  background-color: var(--almost_white);
}

.container tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.container td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
}

.container td:last-child {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.container td:last-child span {
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--orange);
}

.container td:last-child svg {
  font-size: 18px;
}

.important a {
  color: var(--black);
}

.restaurants span {
  display: block;
  padding: 2px 0px;
}

.hide_on_mobile {
  display: none;
}

.load_all {
  margin-top: 1.25rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }

  .orders_top {
    justify-content: flex-start;
  }

  .orders_top h2 {
    margin-right: 1.5rem;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
