.section {
  padding: var(--section_padding);
}

.section h2 {
  font-weight: var(--h2_weight);
  margin-bottom: 0.75rem;
}

.section button {
  border: none;
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: var(--almost_white);
  background-color: var(--teal);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: var(--almost_white);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.title p:nth-child(2),
.title p:nth-child(3) {
  display: none;
}

.restaurants {
  margin-bottom: 1rem;
}

.restaurant {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
