.section {
  padding: var(--section_padding);
}

.section h2 {
  font-weight: var(--h2_weight);
  margin-bottom: 0.75rem;
}

.button {
  border: none;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  color: var(--almost_white);
  background-color: var(--teal);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: var(--almost_white);
}

.orders_title p:nth-child(2),
.orders_title p:nth-child(4),
.restaurants_title p:nth-child(2),
.restaurants_title p:nth-child(3) {
  display: none;
}

.restaurants,
.companies {
  margin-bottom: 1rem;
}

.order,
.restaurant,
.company {
  color: var(--black);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border_color);
}

.order p,
.restaurant p,
.company p {
  font-weight: 500;
}

.order p:nth-child(2),
.order p:nth-child(3),
.restaurant p:nth-child(2),
.company p:nth-child(2),
.company p:nth-child(3) {
  color: var(--gray);
  font-size: 0.9rem;
}
