.add_discount_code_form {
  padding: var(--section_padding);
}

.add_discount_code_form h2 {
  margin-bottom: 1rem;
}

.add_discount_code_form form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow_medium);
}

.item,
.redeemability {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.redeemability {
  flex-direction: row;
}

.item label,
.redeemability label {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.redeemability label {
  margin-bottom: 0rem;
  margin-right: 1rem;
}

.item input {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus {
  outline: none;
  border: 1px solid var(--teal);
}

@media (min-width: 768px) {
  .add_discount_code_form {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .add_discount_code_form form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .add_discount_code_form {
    max-width: 42rem;
    margin: 0 auto;
  }
}
