.add_item {
  padding: var(--section_padding);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.add_item form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow_medium);
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.item label {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.item input,
.item textarea {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus,
.item textarea:focus {
  outline: none;
  border: 1px solid var(--teal);
}

.item textarea {
  resize: none;
  height: 10rem;
}

@media (min-width: 768px) {
  .add_item {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .add_item form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .add_item {
    max-width: 42rem;
    margin: 0 auto;
  }
}
