.all_companies {
  padding: var(--section_padding);
}

.all_companies_title {
  margin-bottom: 0.75rem;
}

.all_companies table {
  width: 100%;
  border-collapse: collapse;
}

.all_companies table th,
.all_companies table td {
  text-align: left;
  padding: 0.75rem 1rem;
}

.all_companies table th:last-child,
.all_companies table td:last-child {
  text-align: right;
}

.all_companies table thead tr {
  background-color: var(--almost_white);
}

.all_companies table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.all_companies table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.all_companies table tbody td:last-child {
  text-transform: lowercase;
}

.important a {
  color: var(--black);
  font-size: 1rem;
}

.hide_on_mobile {
  display: none;
}

.button {
  border: none;
  cursor: pointer;
  margin-top: 1.25rem;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  color: var(--almost_white);
  background-color: var(--teal);
}

@media (min-width: 768px) {
  .hide_on_mobile {
    display: table-cell;
  }
}
