.all_companies {
  padding: var(--section_padding);
}

.all_companies h2 {
  margin-bottom: 1rem;
}

.all_companies table {
  width: 100%;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
}

.all_companies table th,
.all_companies table td {
  text-align: left;
  padding: 1rem;
}

.all_companies table th:last-child,
.all_companies table td:last-child {
  text-align: right;
}

.all_companies table thead tr {
  background-color: var(--almost_white);
}

.all_companies table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.all_companies table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.all_companies table tbody td:last-child {
  text-transform: lowercase;
}

.important a {
  color: var(--black);
  font-size: 1rem;
}

.hide_on_mobile {
  display: none;
}

@media (min-width: 768px) {
  .all_companies {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .all_companies {
    max-width: 80%;
    margin: 0 auto;
  }
}
