.company {
  padding: var(--section_padding);
}

.details {
  margin-bottom: 1.5rem;
}

.company_name {
  margin-bottom: 1rem;
}

.details p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.details p span {
  font-weight: 500;
  color: var(--black);
}

@media (min-width: 768px) {
  .company {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .company {
    max-width: 80%;
    margin: 0 auto;
  }
}
