.section {
  padding: var(--section_padding);
}

.section h2 {
  margin-bottom: 1rem;
}

.section table {
  margin-bottom: 0rem;
}

.details {
  margin-bottom: 1.5rem;
}

.company_name {
  margin-bottom: 1rem;
}

.details p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.shift {
  text-transform: capitalize;
}

.details p span {
  font-weight: 500;
  color: var(--black);
}

.schedule_restaurants_button {
  width: 12rem;
  height: 2.75rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  background: var(--teal);
  border-radius: 0.25rem;
  color: var(--almost_white);
}

@media (min-width: 768px) {
  .section {
    max-width: 85%;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .schedule_restaurants_button {
    margin-top: 0rem;
    margin-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .section {
    max-width: 80%;
    margin: 0 auto;
  }
}
