.section {
  padding: var(--section_padding);
}

.section h2 {
  margin-bottom: 1rem;
}

.orders_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  border: 1px solid var(--gray);
}

.filter svg {
  font-size: 1.25rem;
  color: var(--gray);
}

.filters {
  display: none;
}

.filters.show {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filters select {
  width: 48%;
  padding: 8px;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.filters select:focus {
  outline: 1px solid var(--teal);
}

.section table {
  width: 100%;
  border-collapse: collapse;
}

.section table th,
.section table td {
  text-align: left;
  padding: 1rem;
}

.section table th:last-child,
.section table td:last-child {
  text-align: right;
}

.section table thead tr {
  background-color: var(--almost_white);
}

.section table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.section table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.important a {
  font-size: 1rem;
  color: var(--black);
}

.hide_on_mobile {
  display: none;
}

.restaurants,
.companies {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .section {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .section {
    max-width: 80%;
    margin: 0 auto;
  }
}
