.edit_item {
  padding: var(--section_padding);
}

.edit_item h2 {
  margin-bottom: 1rem;
}

.edit_item form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow_medium);
}

@media (min-width: 768px) {
  .edit_item {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }

  .edit_item form {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .edit_item {
    max-width: 42rem;
    margin: 0 auto;
  }
}
