.filter_and_sort {
  display: none;
  margin-left: auto;
}

.filter_and_sort select {
  width: 48%;
  padding: 8px;
  color: var(--gray);
  border-radius: 0.25rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.filter_and_sort select:focus {
  outline: 1px solid var(--teal);
}

.show_controller {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.hide_subcategory {
  display: none;
}

@media (min-width: 768px) {
  .filter_and_sort select {
    width: 12rem;
  }

  .filter_and_sort select:last-child {
    margin-left: 1rem;
  }

  .show_controller {
    justify-content: flex-start;
  }
}
