.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.item label {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.item input,
.item textarea {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus,
.item textarea:focus {
  outline: none;
  border: 1px solid var(--teal);
}

.item textarea {
  resize: none;
  height: 10rem;
}

.image_upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_upload input {
  border: none;
  cursor: pointer;
}

.image_upload input:focus {
  outline: none;
  border: none;
}

.image {
  margin-bottom: 1.5rem;
}

.image img {
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .image_upload {
    align-items: center;
    flex-direction: row;
  }

  .image {
    width: 40%;
  }
}
