.item,
.dietary_tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.dietary_tags {
  margin-bottom: 0.5rem;
}

.item label,
.dietary_tags p {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.item input,
.item textarea {
  padding: 12px;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item input:focus,
.item textarea:focus {
  outline: none;
  border: 1px solid var(--teal);
}

.item input::placeholder {
  font-size: 0.9rem;
}

.item textarea {
  resize: none;
  height: 10rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  font-size: 0.9rem;
  color: var(--gray);
  margin: 0rem 1rem 1rem 0rem;
  text-transform: capitalize;
}

.tag input {
  margin-right: 0.5rem;
}

.image_upload {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.image_upload input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 8rem;
  width: 100%;
  cursor: pointer;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--orange);
  font-weight: 600;
  height: 8rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.upload_icon_and_text {
  display: flex;
  align-items: center;
}

.upload_icon_and_text svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.remove_upload,
.remove_image {
  display: flex;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2rem;
}

.remove_upload {
  z-index: 1;
  color: var(--gray);
  padding: 4px 12px;
  font-size: 0.9rem;
  margin-top: 1.25rem;
  border: 1px solid var(--gray);
}

.remove_upload svg,
.remove_image svg {
  margin-left: 0.5rem;
}

.image {
  position: relative;
  margin-top: 1.5rem;
}

.image img {
  border-radius: 0.25rem;
}

.remove_image {
  left: 50%;
  border: none;
  bottom: 0.75rem;
  translate: -50% 0%;
  position: absolute;
  padding: 5px 14px;
  color: var(--almost_white);
  background: var(--orange);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .image_upload {
    flex-direction: row;
    align-items: center;
  }

  .image_upload input {
    width: 50%;
    height: var(--image_height);
  }

  .upload {
    width: 50%;
    margin-bottom: 0rem;
    height: var(--image_height);
  }

  .image {
    width: 45%;
    margin-top: 0rem;
  }
}
