.item h2 {
  padding: var(--section_padding);
}

.item_details {
  padding: var(--section_padding);
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.tags {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .item {
    max-width: 85%;
    margin: 0 auto;
  }

  .item_details {
    padding: 1.25rem 0rem;
  }
}

@media (min-width: 1024px) {
  .item {
    max-width: 80%;
    margin: 0 auto;
  }
}
