.orders_group_row {
  border-bottom: 1px solid var(--border_color);
}

.orders_group_row td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.orders_group_row td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.orders_group_row td:last-child svg {
  font-size: 18px;
  margin-left: 0.5rem;
}

.important a {
  color: var(--black);
  font-size: 1rem;
}

.hide_on_mobile {
  display: none;
}

.restaurants span {
  display: block;
  padding: 2px 0px;
}

.action a {
  display: flex;
  color: var(--orange);
}

@media (min-width: 768px) {
  .hide_on_mobile {
    display: table-cell;
  }
}
