.orders_group_details {
  padding: var(--section_padding);
}

.orders_group_details h2 {
  margin-bottom: 1rem;
}

.orders_group_details table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

.orders_group_details th {
  text-align: left;
  padding: 1rem;
}

.orders_group_details th:last-child {
  text-align: right;
}

.orders_group_details thead tr {
  background-color: var(--almost_white);
}

.orders_group_details td {
  border-bottom: 1px solid var(--border_color);
}

.orders_group_details td {
  padding: 1rem;
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.total td {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.orders_group_details td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.orders_group_details td:last-child svg {
  font-size: 18px;
  margin-left: 0.5rem;
}

.hide_on_mobile {
  display: none;
}

@media (min-width: 768px) {
  .orders_group_details {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .orders_group_details {
    max-width: 80%;
    margin: 0 auto;
  }
}
