.item {
  cursor: grab;
  display: flex;
  padding: 0rem 1rem;
  color: var(--black);
  align-items: center;
  justify-content: space-between;
}

.item_details {
  width: 65%;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.name svg {
  color: #2eb82e;
  font-size: 20px;
  margin-left: 0.5rem;
}

.name svg.archive_icon {
  font-size: 18px;
  color: var(--global);
}

.price {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--gray);
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item_image {
  width: 30%;
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item_image img {
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .item {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .item_image {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .item_details {
    width: 100%;
  }
}
