.all_restaurants {
  padding: var(--section_padding);
}

.all_restaurants_title {
  margin-bottom: 1rem;
}

.all_restaurants table {
  width: 100%;
  border-collapse: collapse;
}

.all_restaurants table th,
.all_restaurants table td {
  text-align: left;
  padding: 1rem;
}

.all_restaurants table th:last-child,
.all_restaurants table td:last-child {
  text-align: right;
}

.all_restaurants table thead tr {
  background-color: var(--almost_white);
}

.all_restaurants table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.all_restaurants table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.all_restaurants table tbody td:last-child {
  text-transform: lowercase;
}

.important a {
  color: var(--black);
  font-size: 1rem;
}

.hide_on_mobile {
  display: none;
}

.button {
  border: none;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-top: 1.25rem;
  border-radius: 0.25rem;
  color: var(--almost_white);
  background-color: var(--teal);
}

@media (min-width: 768px) {
  .all_restaurants {
    max-width: 85%;
    margin: 0 auto;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .all_restaurants {
    max-width: 80%;
    margin: 0 auto;
  }
}
