.restaurant {
  padding: var(--section_padding);
}

.details {
  margin-bottom: 1rem;
}

.details h2,
.details p {
  margin-bottom: 0.5rem;
}

.details p {
  color: var(--gray);
}

.details p span {
  font-weight: 500;
  color: var(--black);
}

.buttons {
  display: flex;
  margin: 1.5rem 0rem;
  align-items: center;
  justify-content: space-between;
}

.buttons button,
.buttons a {
  border: none;
  width: 10rem;
  height: 2.75rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: center;
  color: var(--almost_white);
}

.add_item_button {
  pointer-events: none; /*Remove*/
  background: var(--teal);
}

.block_restaurant_button {
  pointer-events: none; /*Remove*/
  background: var(--orange);
}

.item {
  display: flex;
  color: var(--black);
  align-items: center;
  padding: 0.75rem 0rem;
  justify-content: space-between;
}

.item_details {
  width: 70%;
}

.name,
.price {
  font-weight: 600;
  font-size: 15px;
}

.name {
  margin-bottom: 0.5rem;
}

.description {
  color: var(--gray);
  margin-bottom: 0.5rem;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item_image {
  width: 25%;
  height: 6rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

@media (min-width: 768px) {
  .restaurant {
    max-width: 85%;
    margin: 0 auto;
  }

  .buttons {
    justify-content: flex-start;
  }

  .add_item_button {
    margin-right: 2rem;
  }

  .items {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .item {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .item_image {
    width: 100%;
    height: 12rem;
    margin-bottom: 1rem;
  }

  .item_details {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .restaurant {
    max-width: 80%;
    margin: 0 auto;
  }
}
