.restaurant {
  padding: var(--section_padding);
}

.details {
  margin-bottom: 2rem;
}

.restaurant_name {
  margin-bottom: 1rem;
}

.restaurant_details {
  margin-bottom: 1.5rem;
}

.restaurant_details p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.restaurant_details p span {
  font-weight: 500;
  color: var(--black);
}

.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.items_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.item {
  display: flex;
  color: var(--black);
  align-items: center;
  justify-content: space-between;
}

.item_details {
  width: 65%;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.name svg {
  color: #2eb82e;
  font-size: 20px;
  margin-left: 0.5rem;
}

.name svg.archive_icon {
  font-size: 18px;
  color: var(--global);
}

.price {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--gray);
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item_image {
  width: 30%;
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid var(--border_color);
}

.item_image img {
  border-radius: 0.25rem;
}

.edit_restaurant_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2.75rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  background: var(--teal);
  border-radius: 0.25rem;
  color: var(--almost_white);
}

@media (min-width: 768px) {
  .buttons {
    display: flex;
    align-items: center;
  }

  .edit_restaurant_button {
    margin-top: 0rem;
    margin-left: 2rem;
  }

  .items {
    gap: 2.5rem;
  }

  .item {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .item_image {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .item_details {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .restaurant {
    max-width: 80%;
    margin: 0 auto;
  }
}
