.schedule_restaurants_modal h2 {
  margin-bottom: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.item label {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.item input,
.item select {
  padding: 12px;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.item input:focus,
.item select:focus {
  outline: none;
  border: 1px solid var(--teal);
}

@media (min-width: 768px) {
  .schedule_restaurants_modal {
    width: 32rem;
  }
}
