.scheduled_restaurants {
  padding: var(--section_padding);
}

.scheduled_restaurants h2 {
  margin-bottom: 1rem;
}

.scheduled_restaurants table {
  width: 100%;
  border-collapse: collapse;
}

.scheduled_restaurants table th,
.scheduled_restaurants table td {
  text-align: left;
  padding: 1rem;
}

.scheduled_restaurants table th:nth-child(3),
.scheduled_restaurants table td:nth-child(3) {
  text-align: right;
}

.scheduled_restaurants table thead tr {
  background-color: var(--almost_white);
}

.scheduled_restaurants table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.scheduled_restaurants table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.important a {
  font-size: 1rem;
  color: var(--black);
}

.hide_on_mobile {
  display: none;
}

.actions span {
  cursor: pointer;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
}

.deactivate {
  color: var(--black);
  margin-right: 0.5rem;
  border: 1px solid var(--black);
}

.remove {
  color: var(--orange);
  border: 1px solid var(--orange);
}

@media (min-width: 768px) {
  .scheduled_restaurants {
    max-width: 85%;
    margin: 0 auto;
  }

  .scheduled_restaurants table th:nth-child(3),
  .scheduled_restaurants table td:nth-child(3) {
    text-align: left;
  }

  .scheduled_restaurants table th:last-child,
  .scheduled_restaurants table td:last-child {
    text-align: right;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .scheduled_restaurants {
    max-width: 80%;
    margin: 0 auto;
  }
}
