.scheduled_restaurants {
  padding: var(--section_padding);
}

.scheduled_restaurants_title {
  margin-bottom: 1rem;
}

.scheduled_restaurants table {
  width: 100%;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
}

.scheduled_restaurants table th,
.scheduled_restaurants table td {
  text-align: left;
  padding: 1rem;
}

.scheduled_restaurants table th:last-child,
.scheduled_restaurants table td:last-child {
  text-align: right;
}

.scheduled_restaurants table thead tr {
  background-color: var(--almost_white);
}

.scheduled_restaurants table tbody tr {
  border-bottom: 1px solid var(--border_color);
}

.scheduled_restaurants table tbody td {
  font-weight: 500;
  color: var(--gray);
  font-size: 0.9rem;
}

.important a {
  font-size: 1rem;
  color: var(--black);
}

@media (min-width: 768px) {
  .scheduled_restaurants {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .scheduled_restaurants {
    max-width: 80%;
    margin: 0 auto;
  }
}
