.orders_groups {
  padding: var(--section_padding);
}

.orders_top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.orders_groups table {
  width: 100%;
  border-collapse: collapse;
}

.orders_groups th {
  text-align: left;
  padding: 1rem;
}

.orders_groups th:last-child {
  text-align: right;
}

.orders_groups thead tr {
  background-color: var(--almost_white);
}

.hide_on_mobile {
  display: none;
}

.load_all {
  margin-top: 1.25rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .orders_groups {
    max-width: 85%;
    margin: 0 auto;
  }

  .orders_top {
    justify-content: flex-start;
  }

  .orders_top h2 {
    margin-right: 1.5rem;
  }

  .hide_on_mobile {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .orders_groups {
    max-width: 80%;
    margin: 0 auto;
  }
}
