.sort_orders_groups select {
  text-align: center;
  width: fit-content;
  padding: 6px 16px;
  color: var(--gray);
  border-radius: 2rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

.sort_orders_groups select:focus {
  outline: none;
  border: 1px solid var(--orange);
}
