.section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--section_padding);
}

.section p,
.section a {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--black);
  border: 1px solid var(--black);
}

.section a {
  display: flex;
  align-items: center;
  color: var(--global);
  border: 1px solid var(--global);
}

.section a svg {
  margin-left: 0.5rem;
}
