@font-face {
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations'),
    url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Raleway-Italic-VariableFont_wght.ttf')
      format('truetype-variations'),
    url('/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #666;
  --teal: #4ea195;
  --global: #f36f46;
  --pink: #f48981;
  --orange: #f78f1e;
  --green: #c0cb32;
  --brown: #583b3b;
  --disabled: #ccc;
  --almost_white: #fafafa;
  --border_color: #eaeaea;
  --section_padding: 1.25rem;
  --shadow_small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1256px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-weight: 800;
  line-height: 1.5em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p,
a,
li {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  font-size: 1rem;
  border: none;
  border-radius: 0px;
}

textarea {
  resize: none;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 1256px) {
  html,
  body {
    border-left: 1px solid var(--almost_white);
    border-right: 1px solid var(--almost_white);
  }
}
