.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--section_padding);
}

.top,
.details {
  text-align: center;
}

.top {
  margin-bottom: 1.5rem;
}

.top h1 {
  margin-bottom: 0.25rem;
}

.top p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--gray);
}

.details {
  display: flex;
  flex-direction: column;
}

.details a {
  width: 18.5rem;
  height: 8rem;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: var(--almost_white);
  background: var(--orange);
}

.details a:first-child {
  margin-bottom: 1.5rem;
  background: var(--teal);
}

.details a svg {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .top {
    margin-bottom: 2rem;
  }

  .top h1 {
    margin-bottom: 0.5rem;
  }

  .details {
    flex-direction: row;
  }

  .details a:first-child {
    margin-bottom: 0rem;
    margin-right: 1.5rem;
  }
}
