:root {
  --black: #000;
  --white: #fff;
  --gray: #666;
  --teal: #27a89a;
  --disable_font: #ccc;
  --almost_white: #fafafa;
  --border_color: #eaeaea;
  --section_padding: 1.25rem;
  --shadow_small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1256px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  line-height: 1.5em;
}

p,
a,
li {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
}

textarea {
  resize: none;
  font-family: "Inter", sans-serif;
}

@media (min-width: 1256px) {
  html,
  body {
    border-left: 1px solid var(--almost_white);
    border-right: 1px solid var(--almost_white);
  }
}
